AltBeaconLibrarySample/AltBeaconLibrarySample.Android/obj/
AltBeaconLibrarySample/AltBeaconLibrarySample/obj/
AltBeaconLibrarySample/AltBeaconLibrarySample/bin/
AltBeaconLibrarySample/AltBeaconLibrarySample.Android/bin/
.vs/
